
* {
  box-sizing: border-box;
}

body {
  margin: 0;

}

table
{
  width: 100%;
}

.header {
  background-color: white;
  padding: 20px;
  /*text-align: center;*/

}
.m1
{
  color: red;
  font-size: 15px;
  font-weight: bold;
}

.topnav {
  overflow: hidden;
  background-color: navy;

}


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
